.product{
    padding :2vmax;
    display: flex;
    gap:4vmax;
    width: 100%;
}
.product .left{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top:2.2vmax;
    
} 
.product .left .mainImage >img{
    width: 100%;
    max-height:60vmax; 
    object-fit: contain;
}
 .images{
    align-self: center;
    width: 100%;
    display:flex;
    overflow-x: scroll;
}
.product .left .images >img{
    max-width: 8vmax;
    max-height:5vmax;
    object-fit: cover;
    margin:1vmax;
    position: inherit;
    
}

.product .right{
    display: flex;
    flex-direction: column;
    gap:1vmax;
    width: 100%;
    margin-top:2.2vmax;
    box-shadow: none;
}
.product .right .price{
    font-size: 2vmax;
    font-weight: 500;
    color: #810900;
}
.product .right >p{
    font-size: 1.3vmax;
    font-weight: 300;
    text-align: justify;
}
.product .right .quantity{
    display: flex;
    align-items: center;
    gap:1vmax;
    
}
.product .right .quantity >button{
    width: 2.5vmax;
    align-items: center;
    height:2.5vmax;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.product .right .quantity .add{
    width:max-content;
    padding: 20px 25px;
    border: none;
    background: #5bbe33;
    color: white;
    justify-content: center;
    gap:1vmax;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
    border-radius: 20px;
}
.product .right .quantity .add >i{
    padding-right: 1vmax;
}
.product .right .quantity .add:hover{
    background: #117204;
}

.info{
    display: flex;
    flex-direction: column;
    gap:1vmax;
    color:gray;
    font-size: 1vmax;
    margin-top: 3vmax;
}
.info >hr{
    width: 100%;
    border: 1px solid rgba(240, 229, 229,0.6);
}
.details{
    display: flex;
    flex-direction: column;
    gap:1vmax;
    color:gray;
    font-size: 1vmax;
    width: 100%;
}
.details >span{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.details >span >span{
    margin-top:0.5vmax;
}
.submitReview{
    border: none;
    background-color: tomato; 
    font: 500 1.2vmax "Roboto"; 
    border-radius: 20px; 
    padding: 0.6vmax 2vmax; 
    transition: all 0.5s; 
    color: white;
    cursor: pointer;
    outline: none;
    width: max-content;
}
.submitReview:hover { 
    background-color: rgb(197, 68, 45); 
    transform: scale(1.1);
}

.reviewsHeading{
    color: #000000be;
    font: 500 x-large "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}
.reviewContainer{
    display: flex;
    overflow: auto;
    justify-content: flex-start;
}

@media screen and (max-width:850px){
    .product{
        flex-direction: column;
        align-items: center;
    }
    .product .right >h1{
        align-self: center;
        
    }
    .right{
        align-items: start;
        padding: 0rem 2rem;
        margin-top: 0px;
    }
    .product .right .price{
        font-size: 1.5rem;
        align-self: center;

    }
    .product .right .quantity{
        align-self: center;
    }
    .product .right >p{
        font-size: 2vmax;
        align-self: center;
    }
    .info{
        font-size: 1.5vmax;
    }
    .details{
        font-size: 1.5vmax;
    }

    .product .right .quantity >button{
        width:5vmax;
        height: 5vmax;
        align-self: center;
    }
    .product .right .add{
        float: left;
    }
    .product .left{
        width: 100%;
        margin-top: 3.5rem;
        margin-bottom: 0;
    }
    .submitReview{
        align-self: center;
    }

}