.featuredProducts{
    margin: 2vmax 4vmax;
    
}

.featuredProducts .top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 2vmax;
}

.featuredProducts .top >h1{
    flex:2;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1vmax;
}

@media screen and (max-width:767px) {
    .featuredProducts{
        margin: 0.5vmax;
    }
}