nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding: 5px 40px 5px 40px;
    border-bottom: 2px solid #5bbe33;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:2;
}
.logo-icon{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    padding:0px;
}

#navLinks{
    display: flex;
    width: max-content;
    align-items:center;
    justify-content:center;
    padding:0;
    margin:0;
}

#navLinks li{
    list-style: none;
    padding: 0 1vmax;
    position: relative;
}
#navLinks li .link{
    text-decoration:none;
    font-size: 1rem;
    font-weight: 600;
    color: #5bbe33;
}
#navLinks li .link span{
    padding-left: 1vmax;
    display: none;
}
#navLinks li .link:hover{
    
    color: #117204;
}
#navLinks li .link:active{
    
    color: #07fa1b66;
}
#navLinks li .link:active::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#07fa1b66;
    position: absolute;
    bottom: -4px;
    left: 1vmax;
}
#navLinks li .link:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#07fa1b66;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
}
#mobile i{
    color: #5bbe33;
    align-items: center;
}

@media screen and (max-width:769px){
    #navLinks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        width:250px;
        height:100vh;
        box-shadow: 0 40px 60px rgba(7, 250, 27, 0.4);
        padding:40px 15px;
        background:#fff;
        transition: 0.3s ease-in-out;
        z-index: 10;
        
    }
    #navLinks.active{
        right: 0px;
    }
    #navLinks li{
        margin: 10px 5px;
        top:50px
        
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: block;
        z-index: 100;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    #navLinks li .link span{
        padding-left: 20px;
        display: inline;
    }
}